<div class="container">
		<div class="row">
			<div class="twelve columns">
				<div class="jumbotron">
					<img src="http://placekitten.com/940/100">
					<h1>KITTEH!</h1>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="four columns">
				<a href="foster-a-child.php"><img src="http://placekitten.com/300/250"></a>
				<h3><a href="">YOU'RE A KITTY!</a></h3>
			</div>
			<div class="four columns">
				<a href=""><img src="http://placekitten.com/300/250"></a>
				<h3><a href="">HI KITTY!</a></h3>
			</div>
			<div class="four columns">
				<a href=""><img src="http://placekitten.com/300/250"></a>
				<h3><a href="">:D</a></h3>
			</div>
		</div>
		
		<div class="row">
			<div class="twelve columns">
				<hr />
			</div>
		</div>
			
		<div class="row">
			<div class="eight columns">
				<div class="row">
					<div class="three columns"><img src="http://placekitten.com/132/100"></div>
					<div class="nine columns"><p>Aliquam erat volutpat. Donec eleifend orci id justo condimentum nec consequat nisl aliquam. In bibendum dui a felis fringilla scelerisque sed nec purus. Cras vitae nunc leo.</p><p> Nulla vulputate, lectus laoreet eleifend congue, nibh mauris ultricies magna, a tincidunt nibh mauris vitae sapien.</p></div>
				</div>
				<div class="row">
					<div class="three columns"><img src="http://placekitten.com/132/100"></div>
					<div class="nine columns"><p>Aliquam erat volutpat. Donec eleifend orci id justo condimentum nec consequat nisl aliquam. In bibendum dui a felis fringilla scelerisque sed nec purus. Cras vitae nunc leo.</p><p> Nulla vulputate, lectus laoreet eleifend congue, nibh mauris ultricies magna, a tincidunt nibh mauris vitae sapien.</p></div>
				</div>
				<div class="row">
					<div class="three columns"><img src="http://placekitten.com/132/100"></div>
					<div class="nine columns"><p>Aliquam erat volutpat. Donec eleifend orci id justo condimentum nec consequat nisl aliquam. In bibendum dui a felis fringilla scelerisque sed nec purus. Cras vitae nunc leo.</p><p> Nulla vulputate, lectus laoreet eleifend congue, nibh mauris ultricies magna, a tincidunt nibh mauris vitae sapien.</p></div>
				</div>
			</div>
			<div class="four columns">
				<div class="panel">
					<h4>Look at all these cats!</h4>
					<p>So this page can be something cool.. idk.</p>
					<p><a href="#" class="nice small radius blue button">woopwoopwoop</a></p>
				</div>
				<div class="row">
					<h3>Questions?</h3>
					<p>huh, HUH?</p>
					<a href="#" class="nice small radius yellow button">Talk Now</a>
				</div>
			</div>
		</div>	
	</div><!-- container -->