<div class="container">
            <div class="row hide-on-phones">
                <div class="twelve columns">

                    <div class="jumbotron homepage">
                        <img src="http://placehold.it/940x300" class="bg" />
                        <div class="content">
                            <blockquote>"ZOOKD is freaking awesome" <cite>Some Dude</cite></blockquote>
                            <h1>Everyone likes ZOOKD. Best. Name. Ever.</h1>
                            <a href="#find-out-more" class="large radius nice blue button">Find Out More</a>
                        </div>

                        <a href="#" id="prev" class="slider">&larr;</a>
                        <a href="#" id="next" class="slider">&rarr;</a>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="four columns">
                    <a href="#"><img src="http://placehold.it/400x300" /></a>
                    <h3><a href="#">What we have done</a></h3>
                </div>
                <div class="four columns">
                    <a href="#"><img src="http://placehold.it/400x300" /></a>
                    <h3><a href="#">How we did it</a></h3>
                </div>
                <div class="four columns">
                    <a href="#"><img src="http://placehold.it/400x300" /></a>
                    <h3><a href="#">Where we are</a></h3>
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <div class="blog panel">
                        <h4>Blog</h4>
                        <a href="#blog">A Blarg Post perhaps? &larr;</a>
                    </div>
                </div>
            </div>


        </div><!-- container -->