<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1 id="culinaryAcademy">What We Do</h1>

            <div class="jumbotron whatwedo">
                <img src="http://placehold.it/940x300" class="bg" />
                <div class="content">
                    <p>A super cool image of the team doign stuff or something.</p>
                    <a href="" class="radius nice blue button">Meet the Team</a>
                </div>
            </div>
        </div>
    </div>	

    <div class="row">
        <div class="eight columns">
            <h4>No Black Hole Projects</h4>
            <p class="intro">We agree on a completion date, and stick to it no matter what, cutting scope if needed. Sizing is to be determined by both the solution developer, as well as the customer. The customer my have some input in terms of predicted sizing as well as the import of existing data from a spreadsheet, File Maker Pro database or other data sources. The solution:* should have an estimated disk usage of less than 300MB (across database and application)</p>
            
        </div>
        <div class="four columns">
            <h4>Sweet Pic</h4>
            <img src="http://placehold.it/300x200" class="bg" />
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <h4>Support & On-going Maintenance</h4>
            <p class="intro">The customer is required to agree to adhere to the proposed support and minor enhancements process. The solution developer on the project will need to take into account the technical architecture required to deliver the solution. This will be derived from the requirements provided by the customer. The solution: will be a web-based solution
will be internally facing (to Optus internal users only)
will involve graphic design for the web application
can leverage off external serv</p>
        </div>
        <div class="four columns">
            <h4>Sweet Pics</h4>
            <ul class="block-grid three-up">
                <li><img src="http://placehold.it/100x80" /></li>
                <li><img src="http://placehold.it/100x80" /></li>
                <li><img src="http://placehold.it/100x80" /></li>
                <li><img src="http://placehold.it/100x80" /></li>
                <li><img src="http://placehold.it/100x80" /></li>
                <li><img src="http://placehold.it/100x80" /></li>
            </ul>
        </div>
    </div>
</div><!-- container -->